# Ignorar pastas bin e obj em todos os projetos da solução
**/bin/
**/obj/

# Ignorar arquivos de compilação
*.dll
*.exe
*.pdb
*.dll.config

# Ignorar arquivos de saída de compilação do Visual Studio
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Oo][Uu][Tt]/
[Ii][Nn][Tt]/
[Dd][Oo][Cc][Uu][Mm][Ee][Nn][Tt][Ss]/

# Ignorar logs e arquivos de rastreamento
logs/
*.log

# Ignorar arquivos do Visual Studio e outras ferramentas
.vs/
.vscode/
.vscodeignore
.idea/
.svn/
__MACOSX/
Thumbs.db/
ehthumbs.db/

# Ignorar arquivos de publicação web
publish/
node_modules/
